:root {
    --color-fade: rgb(30,30,30);
    --color-light-fade: rgb(30,30,30);
    --color-background: black;
    --color-blue:  #382b7d;
    --background-color:black;
    --fadeText:#5d616d;
    --headColor:#5d616d;
    --color-black:#fff;
    --color-red:brown;
    --color-fader: rgb(30,30,30);

}




